@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

a {
    color: rgb(0, 0, 0);
    font-family: "Fira Code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    margin-right: 30px;
}
header {
    background-color: #ff28d0;
    font-weight: bold;
    
}   

#button {
    display: inline-block;
    background-color: blueviolet;
    /* height: 60px; */
    /* line-height: 60px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 10px 10px 0a black;
}

nav {
    /* text-align: right; */
    background-color: aqua;
}